Camera Options
Recording length:
Record
Preview
Capture
Time Recording
Motion Detector
Digi Camera
Stream
Home Automation
Micro
Timer Setting:
Start:
End:
Automatic:
System Control
Restart
Shutdown
Scan NFC
Switch:
CPU:
Weather Info:
LCD On/Off
LCD backlight
Weather in:
Max:
Min:
Wind Speed:
Humidity:
Clouds:
Pressure:
Sunrise at:
Sunset at:
Icon ID:
Last server update:
Please use a new key from openweathermap.org
ThinkSpeak enabled
File
Update Clock
Digi Camera
Exit
Settings
Sound On/Off
Speech On/Off
ThinkSpeak On/Off
Language
Screen
full screen
Colour
Dark/Green
Gray
White/Gray
Gray/White
Blue/White
Blue/Green
EEPROM
RTC automatic
Remote control
Camera settings
Weather settings
Pushbullet Key
ThinkSpeak settings
Reset EEPROM
NFC settings
Save Card
Delete Card
Show Cards
Help
About....
#settings
ontime example 17:10|4:31-
offtime example 17:10|4:31-
Switch 1 for off set 0 or on set 1:
Switch 2 for off set 0 or on set 1:
Switch 3 for off set 0 or on set 1:
Switch 4 for off set 0 or on set 1:
Key example 10101:
Gpio 26:
Button name 1:
Button name 2:
Button name 3:
Button name 4:
Button name 5:
Button name 6:
time between a picture in sec - 600:
start time - 22:0:
end time - 22:0:
Sound - on or off:
PIR GPIO Port - 24:
sensor video time length - 120:
Command - capture:
Path - /home/pi/Pictures/:
Region Code - 6947479:
Open Weather Api Key - 3aef357118b7ea5d700123785674b45:
Pushbullet Api Key - o.luRM2iMEGKnns3pzkOUiEAGX3IxxVxZ:
ThinkSpeak channle ID - 43245 :
ThinkSpeak writekey - 8WQB01T3F5JEEZY :
ThinkSpeak readkey - PJGJDHMEUU1AXQ1 :
waiting for card
Name - cyber-Ahn:
function - example:all_on-all_off-login-exit:
waiting for card
Remove:
write eeprom, please wait.....
ready.......
Port - 9090 :
IP - 192.168.0.94 :
Password:
ALL ON
ALL OFF
Alarm clock:
at Time:
Web App settings
Alarm clock settings
Password On/Off
Alarm clock On/Off
alarm time:
alarm on/off
Weather Info
RSS settings
RSS url:
RSS Language - (de/en/fr/ja/ru/zh):
News
Neo Pixel RGB
Red
Green
Blue
Off
Set Light
Brightness
