Camera Options
Recording length:
Record
Preview
Capture
Time Recording
Motion Detector
Digi Camera
Stream
Home Automation
Micro
Timer Setting:
Start:
End:
Automatic:
System Control
Restart
Shutdown
Scan NFC
Switch:
CPU:
Weather Info:
LCD On/Off
LCD backlight
Weather in:
Max:
Min:
Wind Speed:
Humidity:
Clouds:
Pressure:
Sunrise at:
Sunset at:
Icon ID:
Last server update:
Please use a new key from openweathermap.org
ThinkSpeak enabled
File
Update Clock
Digi Camera
Exit
Settings
Sound On/Off
Speech On/Off
ThinkSpeak On/Off
Language
Screen
full screen
Colour
Dark/Green
Gray
White/Gray
Gray/White
Blue/White
Blue/Green
EEPROM
RTC automatic
Remote control
Camera settings
Weather settings
Pushbullet Key
ThinkSpeak settings
Reset EEPROM
NFC settings
Save Card
Delete Card
Show Cards
Help
About....
