firefox-esr
python-matplotlib
mpg321
gir1.2-gstreamer-1.0
gir1.2-gst-plugins-base-1.0
python3-pil.imagetk
p7zip
libcblas-dev
libhdf5-dev
libhdf5-serial-dev
libatlas-base-dev
libjasper-dev
libqtgui4
libqt4-test
flac
libportaudio-dev
python-dev
libportaudio0
libportaudio2
libportaudiocpp0
portaudio19-dev