カメラのオプション
録音の長さ：
記録
プレビュー
キャプチャー
時間記録
動き検出器
Digiカメラ
ストリーム
ホームオートメーション
マイクロ
タイマー設定：
開始：
終わり：
自動：
システム制御
再起動
シャットダウン
NFCをスキャンする
スイッチ：
CPU：
天気情報：
LCDのオン/オフ
LCDバックライト
天気：
最大：
分：
風速：
湿度：
雲：
圧力：
日の出：
サンセット：
アイコンID：
最後のサーバー更新：
openweathermap.orgの新しいキーを使用してください
ThinkSpeak対応
ファイル
時計の更新
Digiカメラ
出口
設定
サウンドオン/オフ
スピーチのオン/オフ
ThinkSpeakのオン/オフ
言語
画面
全画面表示
色
濃い緑色
グレー
ホワイト/グレー
グレー/ホワイト
ブルー/ホワイト
青/緑
EEPROM
自動RTC
リモコン
カメラの設定
天気の設定
プッシュボタンキー
ThinkSpeakの設定
リセットEEPROM
NFC設定
カードを保存する
カードを削除する
カードを表示する
助けて
約....
＃設定
オンタイムの例17：10|4：31-
オフタイム例17：10|4：31-
オフセット0またはセット1のスイッチ1：
オフセット0またはセット1のスイッチ2：
オフセット0またはセット1のスイッチ3：
オフセット0またはセット1のスイッチ4：
キーの例10101：
Gpio 26：
ボタン名1：
ボタン名2：
ボタン名3：
ボタン名4：
ボタン名5：
ボタン名6：
秒間の画像間の時間 - 600：
開始時間 - 22：0：
終了時刻 - 22：0：
サウンド - オンまたはオフ：
PIR GPIOポート - 24：
センサビデオ時間 - 120：
コマンドキャプチャ：
パス - /home/pi/Pictures/：
地域コード - 6947479：
オープン気象Api Key - 3aef357118b7ea5d700123785674b45：
プルーフリーApi Key - o.luRM2iMEGKnns3pzkOUiEAGX3IxxVxZ：
ThinkSpeakチャンネルID - 43245：
ThinkSpeakのwritekey - 8WQB01T3F5JEEZY：
ThinkSpeakのリードキー - PJGJDHMEUU1AXQ1：
カードを待っている
名前 - サイバーアン：
関数 - 例：all_on-all_off-login-exit：
カードを待っている
削除：
EEPROMを書いて、お待ちください.....
準備.......
ポート - 9090 ：
IP - 192.168.0.94 ：
パスワード：
すべてON
すべてオフ
目覚まし時計：
当時の：
Webアプリケーションの設定
目覚まし時計の設定
パスワードのオン/オフ
目覚まし時計のオン/オフ
アラーム時刻：
アラームのオン/オフ
天気情報
RSSの設定
RSS url：
RSS言語 - （de / en / fr / ja / ru / zh）：
ニュース
ネオピクセルRGB
赤
グリーン
ブルー
オフ
光を設定
明るさ
