カメラのオプション録音の長さ：記録プレビューキャプチャー時間記録動き検出器Digiカメラストリームホームオートメーションマイクロタイマー設定：開始：終わり：自動：システム制御再起動シャットダウンNFCをスキャンするスイッチ：CPU：天気情報：LCDのオン/オフLCDバックライト天気：最大：分：風速：湿度：雲：圧力：日の出：サンセット：アイコンID：最後のサーバー更新：openweathermap.orgの新しいキーを使用してくださいThinkSpeak対応ファイル時計の更新Digiカメラ出口設定サウンドオン/オフスピーチのオン/オフThinkSpeakのオン/オフ言語画面全画面表示色濃い緑色グレーホワイト/グレーグレー/ホワイトブルー/ホワイト青/緑EEPROM自動RTCリモコンカメラの設定天気の設定プッシュボタンキーThinkSpeakの設定リセットEEPROMNFC設定カードを保存するカードを削除するカードを表示する助けて約....