Kamera Optionen
Aufnahme länge:
Aufnahme
Vorschau
Auslöser
Zeitaufnahme
Bewegungsmelder
Digi Kamera
Stream
Haussteuerung
Mikro
Zeiteinstellung:
Start:
Ende:
Automatik:
System Kontrolle
Neustart
Runterfahren
Scan NFC
Schalter: 
CPU:
Wetter Info:
LCD An/Aus
LCD Hintergrundlicht
Wetter in: 
Max:
Min:
Windgeschw.:
Humidity:
Wolken:
Druck:
Sonnenaufgang:
Sonnenuntergang:
Icon ID:
Letztes Server Update:
Bitte benutze einen neuen key von openweathermap.org
ThinkSpeak aktiviert
Datei
Aktualiesiere Uhr
Digi Kamera
Beenden
Einstellungen
Ton An/Aus
Speech An/Aus
ThinkSpeak An/Aus
Sprache
Bildschirm
Vollbild
Farbe
Dunkel/Grün
Grau
Weiß/Grau
Grau/Weiß
Blau/Weiß
Blau/Grün
EEPROM
RTC Automatik
Funkkontrolle
Kameraeinstellungen
Wettereinstellungen
Pushbullet Key
ThinkSpeak einstellungen
EEPROM zurücksetzen
NFC einstellungen
Karte speichern
Karte löschen
Karten anzeigen
Hilfe
Über....
