[Unit]
Description=TGN_MQTT_SERVER
After=network.service

[Service]
ExecStart=/home/pi/tgn_smart_home/tgn-api/api.sh

RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
