相機選項錄音長度：記錄預習捕獲時間記錄運動檢測器Digi相機流家庭自動化微定時器設置：開始：結束：自動：系統控制重新開始關掉掃描NFC開關：中央處理器：天氣信息：LCD開/關LCD背光天氣在：馬克斯：閔：風速：濕度：雲：壓力：日出時間：日落時分：圖標ID：上次服務器更新：請使用openweathermap.org的新密鑰啟用ThinkSpeak文件更新時鐘Digi相機出口設置聲音開/關演講開/關ThinkSpeak開/關語言屏幕全屏顏色深綠色灰色白/灰灰色/白色藍白色藍綠EEPROMRTC自動遙控相機設置天氣設置Pushbullet鑰匙ThinkSpeak設置重置EEPROMNFC設置保存卡刪除卡片顯示卡片幫幫我關於....