相機選項
錄音長度：
記錄
預習
捕獲
時間記錄
運動檢測器
Digi相機
流
家庭自動化
微
定時器設置：
開始：
結束：
自動：
系統控制
重新開始
關掉
掃描NFC
開關：
中央處理器：
天氣信息：
LCD開/關
LCD背光
天氣在：
馬克斯：
閔：
風速：
濕度：
雲：
壓力：
日出時間：
日落時分：
圖標ID：
上次服務器更新：
請使用openweathermap.org的新密鑰
啟用ThinkSpeak
文件
更新時鐘
Digi相機
出口
設置
聲音開/關
演講開/關
ThinkSpeak開/關
語言
屏幕
全屏
顏色
深綠色
灰色
白/灰
灰色/白色
藍白色
藍綠
EEPROM
RTC自動
遙控
相機設置
天氣設置
Pushbullet鑰匙
ThinkSpeak設置
重置EEPROM
NFC設置
保存卡
刪除卡片
顯示卡片
幫幫我
關於....
＃設置
準時17：10|4：31-
運行時間示例17：10|4：31-
開關1關閉設置0或開啟設置1：
開關2關閉設置0或開啟設置1：
開關3關閉設置0或開啟設置1：
開關4關閉設置0或開啟設置1：
關鍵示例10101：
Gpio 26：
按鈕名稱1：
按鈕名稱2：
按鈕名稱3：
按鈕名稱4：
按鈕名稱5：
按鈕名稱6：
一秒之間的時間間隔 - 600：
開始時間 - 22：0：
結束時間 - 22：0：
聲音 - 開或關：
PIR GPIO端口 - 24：
傳感器視頻時間長度 - 120：
命令 - 捕獲：
路徑 - /home/pi/Pictures/：
區域代碼 - 6947479：
打開天氣API密鑰 - 3aef357118b7ea5d700123785674b45：
Pushbullet API密鑰 - o.luRM2iMEGKnns3pzkOUiEAGX3IxxVxZ：
ThinkSpeak channle ID - 43245：
ThinkSpeak寫入密鑰 - 8WQB01T3F5JEEZY：
ThinkSpeak讀取鍵 - PJGJDHMEUU1AXQ1：
等待卡
名字 - 網絡安：
函數 - 例如：all_on-all_off-login-exit：
等待卡
去掉：
寫eeprom，請稍候.....
準備.......
端口 - 9090 ：
IP - 192.168.0.94 ：
密碼 ：
