Параметры камеры
Длина записи:
запись
предварительный просмотр
Захватить
Запись времени
Датчик движения
Цифровая камера
Поток
Домашняя
Микро
Настройка таймера:
Начало:
Конец:
Автоматический режим:
Системный контроль
Перезапуск
Неисправность
Сканировать NFC
#:
ЦПУ:
Информация о погоде:
Включение / выключение ЖК-дисплея
ЖК-подсветка
Погода в:
Максимум:
Min:
Скорость ветра:
Влажность:
Облака:
Давление:
Восход солнца:
Закат в:
Иконки:
Последнее обновление сервера:
Используйте новый ключ от openweathermap.org
ThinkSpeak включен
файл
Обновить часы
Цифровая камера
Выход
настройки
Включение / выключение звука
Включение / выключение речи
Включение / выключение ThinkSpeak
язык
экран
полноэкранный
Цвет
Темно-зеленый
Серый
Белый / Серый
Серый / Белый
Синий / Белый
Цвет морской волны
EEPROM
RTC автоматический
Дистанционное управление
Настройки камеры
Настройки погоды
Ключ Pushbullet
Настройки ThinkSpeak
Сбросить EEPROM
Настройки NFC
Сохранить карту
Удалить карту
Показать карты
Помогите
Около....
# настроек
по времени 17:10|4:31-
время простоя 17:10|4:31-
Переключатель 1 при выключенном 0 или в наборе 1:
Переключатель 2 при выключенном 0 или в наборе 1:
Переключатель 3 при выключенном 0 или в наборе 1:
Переключатель 4 при выключенном 0 или в наборе 1:
Пример 10101:
Gpio 26:
Название кнопки 1:
Название кнопки 2:
Название кнопки 3:
Название кнопки 4:
Название кнопки 5:
Название кнопки 6:
время между снимком в секундах - 600:
время начала - 22:0:
время окончания - 22:0:
Звук - включено или выключено:
Порт PIR GPIO - 24:
длина видеосигнала видеосигнала - 120:
Командный захват:
Путь - /home/pi/Pictures/:
Код региона - 6947479:
Open Weather Api Key - 3aef357118b7ea5d700123785674b45:
Pushbullet Api Key - o.luRM2iMEGKnns3pzkOUiEAGX3IxxVxZ:
Идентификатор канала ThinkSpeak - 43245:
Кнопка записи ThinkSpeak - 8WQB01T3F5JEEZY:
ThinkSpeak ключ для чтения - PJGJDHMEUU1AXQ1:
ожидание карты
Имя - кибер-ан:
function - example: all_on-all_off-login-exit:
ожидание карты
Удалить:
пишите eeprom, пожалуйста, подождите .....
готов.......
Порт - 9090 :
IP - 192.168.0.94 :
пароль:
ВСЕ ВКЛ
ВСЕ ВЫКЛЮЧИТЬ
Будильник:
вовремя:
Настройки веб-приложения
Настройки будильника
Включение / выключение пароля
Включение / выключение будильника
время будильника:
включение / выключение будильника
Информация о погоде
Настройки RSS
RSS url:
RSS Язык - (de / en / fr / ja / ru / zh):
Новости
Neo Pixel RGB
красный
зеленый
синий
от
Установить свет
яркость
