Switch-On:Mon
Switch-On:Tue
Switch-On:Wed
Switch-On:Thu
Switch-On:Fri
Switch-On:X
Switch-On:X
tgn/#
Icon_Folder:/home/pi/tgn_smart_home/icons/
Light-On:70
Light-Off:120
Pihole_Adress*http://192.168.0.98
sinric_ID:639b79a1b8a7fefbd660dd53,639b8295333d12dd2a1558d2,639b8c29b8a7fefbd660eaf0
logging:on
font_size_a:12
font_size_b:14
font_size_c:18
feed_size_width:353
feed_size_height:40
feed_pos_x:350
feed_pos_y:20
button_width_a:13
button_width_b:9
slider_length:455
sinric_KEY:NDZjYTYxYjQtNmEwMS00N2EwLTliNzgtNjBkNTA0Y2IzODJjLTBhYmNmMjFjLTA2MGQtNDM4Yi04ZjJkLWM5OWUzZGRlZDNjOA==
Pihole_PW*S2V2aW4yNzEx
sonoff_homecode*MTAxMDE=
autohum_on_time*19
autohum_off_time*7
autohum_on_var*75.0
autohum_botton*8