Switch-On:Mon
Switch-On:Tue
Switch-On:Wed
Switch-On:Thu
Switch-On:Fri
Switch-On:X
Switch-On:X
tgn/#
Icon_Folder:/home/pi/tgn_smart_home/icons/
Light-On:70
Light-Off:120
Pihole_Adress*http://192.168.0.00
sinric_ID:123456789123456789,123456789123456789,123456789123456789
logging:on
font_size_a:12
font_size_b:14
font_size_c:18
feed_size_width:353
feed_size_height:40
feed_pos_x:350
feed_pos_y:20
button_width_a:13
button_width_b:9
slider_length:455
sinric_KEY:123456789-123456789-123456789-123456789
Pihole_PW*password