#ColorSet 1
bground=black
fground=green
abground=gray
afground=green
afbground=green
buttona=red
buttonb=green
#ColorSet 2
bground=gray
fground=gray
abground=gray
afground=gray
afbground=gray
buttona=red
buttonb=gray
#ColorSet 3
bground=white
fground=gray
abground=gray
afground=gray
afbground=gray
buttona=red
buttonb=gray
#ColorSet 4
bground=gray
fground=white
abground=gray
afground=gray
afbground=white
buttona=red
buttonb=gray
#ColorSet 5
bground=blue
fground=white
abground=gray
afground=gray
afbground=white
buttona=red
buttonb=gray
#ColorSet 6
bground=blue
fground=white
abground=gray
afground=gray
afbground=green
buttona=red
buttonb=gray
