#ColorSet 1
bground=black
fground=green
abground=gray
afground=black
afbground=black
buttona=red
buttonb=black
#ColorSet 2
bground=gray
fground=black
abground=gray
afground=gray
afbground=gray
buttona=red
buttonb=gray
#ColorSet 3
bground=white
fground=black
abground=gray
afground=gray
afbground=gray
buttona=red
buttonb=gray
#ColorSet 4
bground=gray
fground=white
abground=gray
afground=gray
afbground=gray
buttona=red
buttonb=gray
#ColorSet 5
bground=darkblue
fground=white
abground=gray
afground=gray
afbground=blue
buttona=red
buttonb=blue
#ColorSet 6
bground=darkblue
fground=black
abground=gray
afground=gray
afbground=green
buttona=red
buttonb=green
