#Gray
bground=gray
fground=black
abground=gray
afground=gray
afbground=gray
buttona=red
buttonb=gray
#Blue/White
bground=darkblue
fground=white
abground=gray
afground=gray
afbground=blue
buttona=red
buttonb=blue
#Gray/Gray 
bground=#0e0e0e
fground=#6f6d6d
abground=gray
afground=gray
afbground=#191919
buttona=#191919
buttonb=#191919
